{% load static %}
<!-- NAVIGATION -->

	<div id="navigation">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav">
					<span class="category-header">Categories <i class="fas fa-list-ul"></i></span>
					{% load mptt_tags %}
						<ul class="category-list">
							{% recursetree category %}
								<li class="dropdown side-dropdown">
									<a href="#" class="dropdown-item" data-toggle="dropdown" >{{ node.category_name }} <i class="fa fa-angle-right"></i></a>
									<div class="custom-menu">
										<div class="row">
											<div class="col-md-4">

												{% if not node.is_leaf_node %}
													<ul class="list-links">
														<h3>Sub-Categories</h3>
														<hr>
														<div>
															<li class="dropdown" >
																{% if not children.is_leaf_node %}
																	<a href="#" class="dropdown-item" data-toggle="dropdown" >{{ children }}</a>

																{% endif %}
															</li>
														</div>
													</ul>
												{% endif %}

												<hr class="hidden-md hidden-lg">
											</div>
										</div>
									</div>
								</li>
							{% endrecursetree %}
						</ul>
				</div>
				<!-- /category nav -->

			</div>


	</div>
	<!-- /NAVIGATION -->