{% load static %}
<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="#">
		            			{% comment %} <img src="{% static '' %}img/logo.png" alt=""> {% endcomment %}
								<span id="logo-first-word">Personal</span> Shopper
		          			</a>
						</div>
						<!-- /footer logo -->

					</div>
				</div>
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
						@ Personal Shopper
						
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

		<!-- jQuery Plugins -->
	<script src="{% static '' %}js/jquery.min.js"></script>
	<script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/main.js"></script>